.selectPlayer {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.selectPlayer .ff7 {
  padding: 0;
}

.col {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1em;
}

.rosterContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1em;
}

.centerItem {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

.roster {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 41.8em;
  overflow-y: auto;
}

.character {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 1em;
  width: 23em;
}

.rosterText {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  height: 100%;
}

.rosterCard {
  display: flex;
  flex-direction: row;
  margin-left: 0.5em;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  width: 10em;
  flex-direction: column;
  justify-self: flex-end;
}

.image {
  display: flex;
  flex-direction: row;
  width: 10em;
  height: 10em;
  background-image: url("../img/portraits/default.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 0.1em black;
  border-radius: 0.5em;
}

.textFix {
  position: fixed;
}

.property {
  color: #20b2aa;
}

.containerFix {
  position: fixed;
  padding: 0;
}

.customStat {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.numbers {
  display: flex;
  flex-direction: row;
}

.hidenVar {
  width: 100%;
  height: 1em;
  background-color: grey;
  margin: 0.1em;
}

.hpVar {
  margin-top: -0.2em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0.5em;
  background-color: #b22020;
}

.mpVar {
  margin-top: -0.2em;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 0.5em;
  background-color: #20b2aa;
}

.map {
  margin: 1em;
}

.map .image {
  margin-top: 1.5em;
  border: solid 0.1em black;
  border-radius: 0.5em;
}

.mapInfo {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.detailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.detailDisplay{
  display: none;
  flex-direction: column;
  position: absolute;
  width: 50%;
  top:5em;
  left:25em;
}

.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttonsForDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 10em;
}

.detail{
  display: flex;
  flex-direction: column;
  align-content : stretch;
  height: 30em;
  overflow-y: scroll;
}

.detailTitle{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.detailContent{
  flex-wrap: wrap;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

#detail0 {
  align-content : stretch;
  display: hidden;
}

#detail1 {
  align-content : stretch;
  display: hidden;
}

#detail2 {
  align-content : stretch;
  display: hidden;
}

#detail3 {
  align-content : stretch;
  display: hidden;
}

#detail4 {
  align-content : stretch;
  display: hidden;
}


.skillList{
  display: flex;
  flex-direction: column;
  justify-items:flex-start;
}

.skillTitle{
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: center;
  justify-content:center;
}

.skillContent{
  margin: 1em;
  display: flex;
  flex-direction: column;
}