body {
  margin: 0;
  background-color: rgb(19, 19, 19);
  font-family: Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.contentScreen1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: white;
}

.glow {
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 0.2em #fff, 0 0 0.5em #fff, 0 0 0.7em #ffae00,
      0 0 1em #ffae00, 0 0 1.2em #ffae00, 0 0 1.5em #ffae00, 0 0 1.7em #ffae00;
  }

  to {
    text-shadow: 0 0 0.2em #fff, 0 0 0.5em #fca402, 0 0 0.7em #fca402,
      0 0 1em #fca402, 0 0 1.2em #fca402, 0 0 1.5em #fca402, 0 0 1.7em #fca402;
  }
}

#changeScreen {
  display: flex;
  flex-direction: row;
}

#changeScreen:hover > img {
  visibility: visible;
}

.hand {
  height: 1em;
  visibility: hidden;
}

#mainMenu {
  display: flex;
  flex-direction: column;
  width: 15em;
}

.startPage{
  background-image: url('../img/background.jpg');
  background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center; 
}